<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="/tasks">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Task</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.user_id %></td>
        <td><%= question.task_id %></td>
        <td><%= question.body %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
