<h2 >Sign in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "control-label" %><br />
        <%= f.email_field :email, autofocus:  true, class: "form-control input-lg" %>
      </div>
      <br>

      <div class="field">
        <%= f.label :password , class: "control-label" %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
      </div>
      <br>

      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me, class: "control-label" %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>
      <br>
      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="form-links">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "パスワードをお忘れですか？", new_password_path(resource_name) %><br />
      <% end -%>
    </div>
</div>
