<% provide(:header_title, "利用者一覧") %>


<table class="users_list">
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>権限</th>
      <th>職種</th>
      <th>特徴</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr data-href='<%= edit_user_path(user) %>'>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= jp_authority_type(user.authority_type) %></td>
        <td><%= jp_job_type(user.job_type) %></td>
        <td><%= user.memo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新規登録', new_user_path, class: "btn btn-primary" %>
