<h3 class="title">パスワード変更</h3>
<div class="title_info">
  パスワード変更メールを送信いたします。
</div>
<br>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "送信", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
