<div class="navbar navbar-default navbar-static-top navbar-main" role="navigation">
  <div class="navbar-header">
    <%= link_to root_path, class: "navbar-brand" do %>
      課題管理システムTaskit
    <% end %>
    <% if user_signed_in? %>
      <div class="nav navbar-nav navbar-text">
        <div class="btn-group open">
          <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> User</a>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="fa fa-caret-down"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
            <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
            <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="i"></i> Make admin</a></li>
          </ul>
        </div>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>ログアウト
        <% end %>
      </div>
      <div class="nav navbar-nav navbar-text">
        <p>社員番号：<%= current_user.user_number %></p>
      </div>
      <div class="nav navbar-nav navbar-text">
        <p>職種：<%= jp_job_type(current_user.job_type) %></p>
      </div>
      <div class="nav navbar-nav navbar-text">
        <p>氏名：<%= current_user.name %></p>
      </div>
      <div class="nav navbar-nav navbar-text">
        <p>権限：<%= jp_authority_type(current_user.authority_type) %></p>
      </div>
    <% end %>
  </div>
</div>
