<!DOCTYPE html>
<html>
<head>
  <%= render '/layouts/application_header' %>
</head>
<body>
  <%= render '/layouts/application_nav' %>
  <div class="wrapper">
    <div class="body">
      <%= render '/layouts/application_sidebar' %>

      <section class="content">
          <div class="header">
            <div class="col-md-12">
              <h3 class="header-title"><%= yield(:header_title) %></h3>
              <p class="header-info"><%= yield(:header_info) %></p>
            </div>
          </div>

          <div class="main-content">
            <%= yield %>
          </div>
        </section>
    </div>
  </div>
</body>
</html>
